/*Généraux*/

html,body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}
.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}


  /* Navigation*/

.tailleNav {
    height: auto;
}
.tailleLiens {
    width: 100%;
}
.dimensionLien:nth-child(2) {
    margin-left: 60%;
}
.dimensionLien {
      width: 140px;
      height: 99px; /*J'ai laisser un pixel pour faire la bordure de 1px pour que ça fasse 100px*/
}
.colorLienA {
      color: black;
}
.decorationNone {
    text-decoration: none;
}
.bordureNoneInput {
    border: none;
}
.texteGras {
    font-weight: bold;
}
.bordureLiens {
    border-top: 1px solid transparent;
}
.bordureLiens:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
.bordureLiens:hover > a {
    color:  #0065fc;
}
.marglogo {
    margin-bottom: 7px;
}


  /*Header*/

.descktopNone {
    display: none;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.tailleIcon {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
}
.buttonSearch:hover {
    color: #0065fc;
    background-color: #deebff;
}
span > i {
    color: #0065fc;
}

  /*Filtres*/


.margFiltres {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtres {
    display: flex;
    align-items: center;
}
.margTitreFiltres {
    margin-right: 20px;
}
.tailleFiltres {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.texteFiltres {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.iconsFiltres {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px; /*J'ai rajouté 2px car après je l'ai décalé sur la bordure*/
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

.tailleFiltres:hover > .texteFiltres {
    color: #0065fc; 
}
.tailleFiltres:hover > .iconsFiltres{
    color: white;
    background-color: #0065fc;
}

  /* Info ICONES */

.info {
    display: flex;
    align-items: center;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #deebff;
    border-radius: 25px;
    margin-right: 5px;
}

  /*Hébergements à Marseille */

.tailleBlocHebergements {
        border-radius: 10px;
        width: 70%;
}
.tailleBlocPopulaires {
    width: 30%;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.blocHebergements{
    padding-left: 20px;
    padding-right: 20px;
}
.parentBlocHebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carteHebergement {
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    /* j'ai rajouter une box pour voir les cartes en version mobile et desktop */
    box-shadow: 5px 5px 5px 1px #e3e2e2;
    margin: 0 auto;
    padding: .5em;
    margin-top: 1em;
}
.carteHebergement:hover {
 cursor: pointer;
 transform: scale(1.1);
}
.detailsCarteHebergement, p, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.imgHebergements1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

  /*Populaires*/

.blocPopulaires > .flexAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.blocPopulaires12 {
    margin-bottom: 22px;
}
.cartePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #e3e2e2;
}
.cartePopulaires:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.detailsCartePopulaires {
    width: 60%;
    padding-left: 5%;
    height: 160px;
}
.detailsCartePopulaires > div {
    margin-top: 50px;
}
.imgPopulaires1 {
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2 {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}


/* Activités à Marseille */

.activites {
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocActivites {
    width: 100%;
    height: 600px;
}
.blocActivites2356 {
    width: 23%;
    height: 600px;
}

/*Reglage bloc*/

.carteActivites {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.carteActivites:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.carteActivites2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.carteActivites2356:hover {
    cursor: pointer;
    transform: scale(1.03);
}


/*Fin reglage bloc */

.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imgActivites1 {
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites2 {
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgActivites3 {
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgActivites4 {
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites5 {
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgActivites6 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

/*Footer*/

.footer {
    height: 300px;
    margin-top: 100px;
}
.tailleBlocFooter {
    height: 150px;
}
.margeBlocFooter1 {
    margin-left: 5%;
}
.margeBlocFooter2 {
    margin-right: 15%;
}
.colorLienFooter {
      color: black;
}
.margeLiensFooter {
      height: 30px;
      margin-top: 10px;
}
.margeBlocFooter1, h3 {
    padding-bottom: 1em;
}

/*RESPONSIVE*/

@media only screen and (min-width: 1401px) {
    .container-main {
        width: 1401px;
        margin: auto;
    }
    .tailleNav {
        height: auto;
    }

    .dimensionLien:nth-child(2) {
        margin-left: 60%;
    }

    .fas.fa-chart-line.fa-2x {
        margin-bottom: 10px;
    }
    .carteHebergement {
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px #e3e2e2;
        margin: 0 auto;
        padding: .5em;
        margin-top: 1em;
    }
    .activites {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blocActivites {
        width: 100%;
        height: 600px;
    }
    .blocActivites2356 {
        width: 23%;
        height: 600px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .container-main {
        width: 100%;
        margin: auto;
    }
    .dimensionLien:nth-child(2) {
        margin-left: 60%;
    }
    .tailleLiens {
        width: 100%;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 10px;
    }
    .filtres {
        display: flex;
        align-items: center;
    }
    .margFiltres {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .cartePopulaires {
        width: 100%;
        box-shadow: 5px 5px 5px 1px #e3e2e2;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
        padding-left: 0;
    }
    .tailleBlocHebergements > h2 {
        margin-left: 20px;
    }
    .carteHebergement {
        margin: 0 auto;
        padding: .5em;
        margin-top: 1em;
        box-shadow: 5px 5px 5px 1px #e3e2e2;
    }
    .blocActivites2356 {
        width: 23%;
        height: 600px;
    }
    .blocActivites {
        width: 98%;
        height: 600px;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .container-main {
        width: 100%;
        margin: auto;
    }
    .dimensionLien:nth-child(2) {
        margin-left: 35%;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 10px;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 90%;
        height: auto;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
    .carteHebergement {
        height: auto;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 1%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px #e3e2e2;
        margin: 7px;
    }
    .blocActivites2356 {
        width: 23%;
        height: 600px;
    }
    .blocActivites {
        width: 98%;
        height: 600px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 991px) {
    .container-main {
        width: 100%;
        margin: auto;
    }
    .dimensionLien:nth-child(2) {
        margin-left: 35%;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 10px;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .cartePopulaires {
        width: 100%;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
    .carteHebergement {
        height: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 771px) {
   .container-main {
        width: 100%;
        margin: auto;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .cartePopulaires {
        width: 100%;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    #hebergements > .flexAround {
        display: flex;
        justify-content: space-around;
    }
    .tailleBlocPopulaires {
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
    .parentBlocHebergements {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 0;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 50px;
    }
    .detailsCarteHebergement {
        min-height: auto;
    }
    .blocActivites {
        flex-direction: column;
    }
    .carteActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2356 {
        width: 100%;
        height: auto;
    }
    .carteActivites2356 {
        margin-bottom: 50px;
    }
    .imgActivites1, 
    .imgActivites2, 
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
      height: 200px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding-left: 20px;
    }
    .margeBlocFooter1 {
        margin-left: 0%;
    }
}
@media only screen and (min-width: 578px) and (max-width: 771px) {
    .cubeHebergements {
        width: 47%;
        margin: .5em;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    #hebergements > .flexAround {
        display: flex;
        justify-content: space-around;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        height: 0%;
    }
    .parentBlocHebergements {
        flex-direction: column;
        min-height: auto;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 50px;
        padding: 0%;
    }
    .detailsCarteHebergement {
        min-height: auto;
        padding-left: 10px;
    }
    .carteHebergement:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    .blocActivites {
        flex-direction: column;
        height: auto;
        padding: 5%;
        width: 90%;
    }
    .carteActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2356 {
        width: 100%;
        height: auto;
    }
    .carteActivites2356 {
        margin-bottom: 50px;
    }
    .carteActivites:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    .imgActivites1, 
    .imgActivites2, 
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
        height: 200px;
    }
    .tailleLiensMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
    }
    .tailleLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tailleLiensMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .titreMobile  {
        font-size: x-large;
    }
    .bordureSearch {
        width: auto;
        border: none;
    }
    .bordureSearch.flexCentre {
        display: flex;
        justify-content: flex-start;
        padding-left: 1.5em;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
        border-bottom: 1px solid #f2f2f2;
        border-top:  1px solid #f2f2f2;
    }
    .paddingSearch {
        padding-left: 1;
    }
    .descktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .margFiltres {
        padding-left: 5%;
    }
    .mobileEconomiques {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .mobileFamiliales {
        margin-right: 0;
    }
    .texteFiltres {
        padding-left: 10px;
        padding-right: 10px;
    }
    .info {
        padding-left: 5%;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .blocPopulaires {
        border-radius: 0;
    }
    .blocHebergements {
        background-color: white;
    }
    .mobileTitreParagraphes {
        padding-left: 1em;
    }  
    .tailleBlocHebergements > h2 {
        margin-top: -3px;
        margin-bottom: 10px
    }
    footer .flexBetween {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1em;
        height: auto;
        margin-top: 0;
    }
    .tailleBlocFooter {
        height: auto;
    }
    .margeBlocFooter1 {
        margin-left: 0;
    }
    .margeLiensFooter {
        margin-top: 0;
    }
    .dimensionLien:nth-child(4) {
        order: 2;
        width: 40%;
        justify-content: center;
    }
    .dimensionLien:nth-child(2) {
        order: 3;
        justify-content: center;
        margin-left: 0;
    }
    .dimensionLien:nth-child(3) {
        order: 4;
        justify-content: center;
    }
    .dimensionLien.flexCentre {
        justify-content: center;
        flex-wrap: wrap;
    }
    span > i {
        color: white;
    }
}

@media only screen and (min-width: 580px) and (max-width: 600px) {
   .container-main {
        width: 100%;
        margin: auto;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .tailleFiltres {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 15px;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .tailleBlocHebergements > h2 {
        margin-bottom: 15px;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }

    .parentBlocHebergements {
        flex-direction: column;
        min-height: auto;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 50px;
    }
    .detailsCarteHebergement {
        min-height: auto;
        padding-left: 10px;
    }
    .carteHebergement:hover {
        cursor: pointer;
        transform: scale(1.05);
       }
    .blocActivites {
        flex-direction: column;
        height: auto;
        padding: 5%;
        width: 90%;
    }
    .carteActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2356 {
        width: 100%;
        height: auto;
    }
    .carteActivites2356 {
        margin-bottom: 50px;
    }
    .carteActivites:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    .imgActivites1, 
    .imgActivites2, 
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
      height: 200px;
    }
    .tailleLiensMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
    }
    .tailleLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tailleLiensMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .titreMobile  {
        font-size: x-large;
    }
    .bordureSearch {
        width: auto;
        border: none;
    }
    .bordureSearch.flexCentre {
        display: flex;
        justify-content: flex-start;
        padding-left: 1.5em;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
        border-bottom: 1px solid #f2f2f2;
        border-top:  1px solid #f2f2f2;
    }
    .descktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .margFiltres {
        padding-left: 5%;
    }
    .mobileEconomiques {
        margin-right: 5px;
    }
    .mobileFamiliales {
        margin-right: 0;
    }
    .texteFiltres {
        padding-left: 10px;
        padding-right: 10px;
    }
    .info {
        padding-left: 5%;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .blocPopulaires {
        border-radius: 0;
    }
    .blocHebergements {
        background-color: white;
    }
    .mobileTitreParagraphes {
        padding-left: 5%;
    }
    footer .flexBetween {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1em;
        height: auto;
        margin-top: 0;
    }
    .tailleBlocFooter {
        height: auto;
    }
    .margeBlocFoot1 {
        margin-left: 0;
    }
    span > i {
        color: white;
    }
}
@media only screen and (max-width: 579px) {
    .cubeHebergements {
        width: 47%;
        margin: .5em;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
    }
    #hebergements > .flexAround {
        display: flex;
        justify-content: space-around;
      }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
        padding: 0;
        height: 0%;
    }
    .parentBlocHebergements {
        flex-direction: column;
        min-height: auto;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 50px;
        padding: 1%;
    }
    .detailsCarteHebergement {
        min-height: auto;
        padding-left: 10px;
    }
    .carteHebergement:hover {
        cursor: pointer;
        transform: scale(1.05);
       }
    .blocActivites {
        flex-direction: column;
        height: auto;
        padding: 5%;
        width: 90%;
    }
    .carteActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2356 {
        width: 100%;
        height: auto;
    }
    .carteActivites2356 {
        margin-bottom: 50px;
    }
    .carteActivites:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
    .imgActivites1, 
    .imgActivites2, 
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
      height: 200px;
    }
    .tailleLiensMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
    }
    .tailleLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tailleLiensMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .titreMobile  {
        font-size: x-large;
    }
    .bordureSearch {
        width: auto;
        border: none;
    }
    .bordureSearch.flexCentre {
        display: flex;
        justify-content: flex-start;
        padding-left: 17px;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
        border-bottom: 1px solid #f2f2f2;
        border-top:  1px solid #f2f2f2;
    }
    .paddingSearch {
        padding-left: 0;
    }
    .descktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .margFiltres {
        padding-left: 5%;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 15px;
    }
    .mobileEconomiques {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .mobileFamiliales {
        margin-right: 0;
    }
    .texteFiltres {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tailleFiltres {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .info {
        padding-left: 5%;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .blocHebergements {
        background-color: white;
    }
    .tailleBlocHebergements > h2 {
        margin-bottom: 10px;
    }
    .mobileTitreParagraphes {
        padding-left: 1em;
    }
    footer .flexBetween {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1em;
        margin-top: 0;
        height: auto;
    }
    .tailleBlocFooter {
        height: auto;
    }
    .margeBlocFooter1 {
        margin-left: 0;
    }
    .margeLiensFooter {
        margin-top: 0;
    }
    .dimensionLien:nth-child(4) {
        order: 2;
        width: 40%;
        justify-content: center;
     }
    .dimensionLien:nth-child(2) {
        order: 3;
        justify-content: center;
        margin-left: 0;
    }
    .dimensionLien:nth-child(3) {
        order: 4;
        justify-content: center;
    }
    .dimensionLien.flexCentre {
        justify-content: center;
        flex-wrap: wrap;
    }
    span > i {
            color: white;
    }
}
@media only screen and (max-width: 459px) {
   .cubeHebergements {
        width: 100%;
        margin-bottom: 1em;
    }
    .filtresWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blocPopulaires {
        padding: 20px;
    }
    .tabletteTailleTitrePop {
        margin-top: 0%;
    }
    #hebergements {
        flex-direction: column-reverse;
    }
    #hebergements > .flexAround {
        display: flex;
        justify-content: space-around;
      }
    .tailleBlocPopulaires {
        flex: none;
        width: 90%;
        margin-left: 0%;
        padding: 5%;
    }
    .tailleBlocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
        height: 0%;
    }
    .tailleBlocHebergements > h2 {
        margin-bottom: 10px;
    }
    .parentBlocHebergements {
        flex-direction: column;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 50px;
    }
    .detailsCarteHebergement {
        min-height: auto;
        padding-left: 10px;
    }
    .carteHebergement:hover {
        cursor: pointer;
        transform: scale(1.05);
       }
    .blocActivites {
        flex-direction: column;
        height: auto;
        padding: 5%;
        width: 90%;
    }
    .carteActivites {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocActivites2356 {
        width: 100%;
        height: auto;
    }
    .carteActivites2356 {
        margin-bottom: 50px;
    }
    .carteActivites:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    .imgActivites1, 
    .imgActivites2, 
    .imgActivites3, 
    .imgActivites4, 
    .imgActivites5,
    .imgActivites6 {
      height: 200px;
    }
    .tailleLiensMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
    }
    .tailleLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tailleLiensMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .titreMobile  {
        font-size: x-large;
    }
    .bordureSearch {
        width: auto;
        border: none;
    }
    .bordureSearch.flexCentre {
        display: flex;
        justify-content: flex-start;
        padding-left: 17px;
    }
    .recherche {
        width: auto;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 15px;
        border-bottom: 1px solid #f2f2f2;
        border-top:  1px solid #f2f2f2;
    }
    .descktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .mobileEconomiques {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .mobileFamiliales {
        margin-right: 0;
    }
    .texteFiltres {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tailleFiltres {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .info {
        padding-left: 5%;
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .blocPopulaires {
        border-radius: 0;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 15px;
    }
    .blocHebergements {
        background-color: white;
    }
    .mobileTitreParagraphes {
        padding-left: 5%;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
        margin-top: 0;
    }
    .margeBlocFooter1 {
        margin-left: 0%;
    }
    .margeLiensFooter {
        margin-top: 0;
    }
    .dimensionLien:nth-child(4) {
        order: 2;
        width: 40%;
        justify-content: center;
     }
    .dimensionLien:nth-child(2) {
        order: 3;
        justify-content: center;
    }
    .dimensionLien:nth-child(3) {
        order: 4;
        justify-content: center;
    }
    .dimensionLien.flexCentre {

        justify-content: center;
        flex-wrap: wrap;
        }
    span > i {
            color: white;
    }
}
@media only screen and (max-width: 356px) {
    .detailsCartePopulaires {
        width: 63%;
        padding-left: 5%;
        margin-top: 0;
    }
    .detailsCartePopulaires > div {
        margin-top: 10px;
    }
    .tailleBlocPopulaires {
        flex: none;
        width: 100%;
        margin-left: 0%;
        padding: 2%;
    }
    .fas.fa-chart-line.fa-2x {
        margin-bottom: 15px;
        margin-left: 1px;
    }
    .filtres {
        width: 100%;
    }
    .tailleFiltres {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .mobileEconomiques {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .mobileFamiliales {
        margin-right: 0;
    }
    .texteFiltres {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}